<!DOCTYPE html>
<html>
  <head>
    <title>Lab9Assignment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
  	<p id="notice"><%= notice %></p>
    <div class="container">
      <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-secondary">Sign-in</button>
            <button type="button" class="btn btn-primary">Log-in</button>
            <button type="button" class="btn btn-danger">Log-out</button>
        </div>
      </div>
    </div>
    
    <%= yield %>
    
  </body>
</html>
